.Navegacion {
   
    padding-top: 8px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    top: 0;
    justify-content: space-between;
    background-image: url(../../img/banner.png);
    background-size: cover;
    border-image: 10px;
}


div .NavRp {
    
    display: flex;
    flex-direction: row;
    gap: 3rem;

}
#Loguito {
    flex-direction: row-reverse;
    display: flex;
}
.LR {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    align-items: center;
    align-items: center;
    position: relative;
    display: flex;
    padding-left: 4px;
    
    
    

}
.Pp {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    padding-right: 4px;
    
    


}

.Titulo {
    text-decoration: none;
    font-family: kaushanScript;
    font-variant-ligatures: smaller;
    font-size:2.8rem;
    color: rgb(255, 208, 121);
    letter-spacing: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
@font-face {
    font-family: KaushanScript ;
    src: url(../../../src/fonts/KaushanScript-Regular.ttf);
}