.Footer {
    background: url(../../img/footerfondo.png);
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content:space-between;
    bottom: 0%;
    z-index: 1;
    padding:10px;
    line-height: 2.5rem;
    letter-spacing: 3px;
}

a {
    color: rgba(213, 208, 212, 0.837);
    font-size: 20px;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
}
.img {
    width: 25px;
    height: 25px;
}

