body {
  width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;

  
 
  
} 
.Bodys {

  background-image: url(./img/banda-completa.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: calc(100vw - (100vw - 100%));
  position: sticky;
  z-index: 0;
}
div p {
  color: rgb(255, 208, 121);
  position: center;
  position: relative;
  font-family: KaushanScript;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  letter-spacing: 5px;
  background-color: rgba(0, 0, 0, 0.76);
  padding: 6px;
  
}
.Primero {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(1, 59, 40, 0.781);
}
figure {
  position: relative;
  width: 350px;
  height: 352px;
  overflow: hidden;
  cursor: pointer;
}

.Cards {
  width: 100%;
  height: 100%;
  border-radius: 10px;
 
  
  
}
figure .Capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.705); 
  transition: all 0.30s ease-out;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
figure:hover > .Capa{
  opacity: 1;
  visibility: visible;
}
.Capa h1 {
  align-items: center;
  color: antiquewhite;
  font-size: 3rem;
  font-family: arial, helvetica;
}
.Spotify {
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 16px;
}
  

.Redes {
  position: absolute;
  bottom: 0%;
}

@font-face {
  font-family: KaushanScript ;
  src: url(./fonts/KaushanScript-Regular.ttf);
}